<div class="module">
    <lib-module-header [header]="'Контрагенти'">
        <ng-template templateRef="headerToolbar">
            <p-button icon="pi pi-plus" [label]="'Створити'" (onClick)="dialogStage.isCreateElement = true"></p-button>

            <p-button icon="pi pi-plus" [label]="'Створити групу'"
                (onClick)="dialogStage.isCreateElementsGroup = true"></p-button>
        </ng-template>
    </lib-module-header>

    <div class="content">
        <lib-table [config]="{
            mode: 'tree',
            module: {
                type: 'datasets',
                data: moduleData,
                identifier: 'counterparties',
                internalEvents: true
            },
            data: elements, 
            fields: fields
        }"></lib-table>

        <!-- <p-treeTable [value]="elementsDataTable" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Наименование в программе</th>
                    <th>ИНН</th>
                    <th>Коментар</th>
                    <th>Ответственные</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttRow]="rowNode">
                    <td>
                        <div class="row-label">
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            <span class="p-field p-fluid">
                                <input pInputText [placeholder]="'Наименование в программе'"
                                    [(ngModel)]="rowData.label.inSystem"
                                    (ngModelChange)="onEdit($event, rowData, 'label.short')">
                            </span>
                        </div>
                    </td>
                    <ng-container *ngIf="!rowData.isGroup; else isGroup">
                        <td>
                            <span class="p-field p-fluid">
                                <input pInputText [placeholder]="'ИНН'"
                                    (ngModelChange)="onEdit($event, rowData, 'edi')">
                            </span>
                        </td>
                        <td>
                            <span class="p-field p-fluid">
                                <textarea pInputTextarea rows="1" [placeholder]="'Коментар'" [autoResize]="true" [(ngModel)]="rowData.description"
                                    (ngModelChange)="onEdit($event, rowData, 'description')"></textarea>
                            </span>
                        </td>
                        <td>
                            <span class="p-field p-fluid">
                                <p-multiSelect appendTo="body" optionLabel="name.full" dataKey="_id" [filter]="true"
                                    [filterBy]="'name.full'" [ngModel]="rowData.responsibles | responsibles"
                                    [options]="responsibles" [placeholder]="'Ответственные'"
                                    (ngModelChange)="onEdit($event, rowData, 'responsibles')"></p-multiSelect>
                            </span>
                        </td>
                    </ng-container>
                    <ng-template #isGroup>
                        <td></td>
                        <td></td>
                        <td></td>
                    </ng-template>
                </tr>
            </ng-template>
        </p-treeTable> -->
    </div>
</div>

<p-dialog [header]="'Создать контрагента'" appendTo="body" styleClass="modal create-counterpaty" [maximizable]="true"
    [draggable]="true" [resizable]="true" [(visible)]="dialogStage.isCreateElement">

    <div [formGroup]="createElementForm">
        <div class="fields__wrapper">
            <div class="fields__wrapper--box">
                <span class="p-fluid p-field">
                    <input type="text" pInputText required formControlName="label" [placeholder]="'Название'" />
                </span>

                <span class="p-fluid p-field">
                    <p-treeSelect appendTo="body" [options]="elementGroups" formControlName="parentId"
                        placeholder="Група"></p-treeSelect>
                </span>

                <span class="p-fluid p-field">
                    <input type="text" pInputText required formControlName="country"
                        [placeholder]="'Страна регистрации'" />
                </span>
            </div>

            <div class="fields__wrapper--box">
                <span formGroupName="tax" class="p-fluid p-field">
                    <input type="text" pInputText required formControlName="number" [placeholder]="'Налоговий номер'" />
                </span>

                <span class="p-fluid p-field">
                    <input type="text" pInputText required formControlName="tin" [placeholder]="'ИНН'" />
                </span>

                <span class="p-fluid p-field">
                    <input type="text" pInputText required formControlName="cor" [placeholder]="'КПП'" />
                </span>

                <span class="p-fluid p-field">
                    <input type="text" pInputText required formControlName="registerNumber"
                        [placeholder]="'Рег. номер'" />
                </span>

                <span class="p-fluid p-field">
                    <textarea pInputTextarea formControlName="description" [placeholder]="'Коментар'"></textarea>
                </span>
            </div>
        </div>

        <span class="p-fluid p-field">
            <p-fieldset formGroupName="bankAccount" [legend]="'Основной банковский счет'" [toggleable]="true">
                <span class="p-fluid p-field">
                    <input type="text" pInputText required formControlName="bank" [placeholder]="'Банк'" />
                </span>

                <span class="p-fluid p-field">
                    <input type="text" pInputText required formControlName="number" [placeholder]="'Номер счета'" />
                </span>
            </p-fieldset>
        </span>

        <span class="p-fluid p-field">
            <p-fieldset [legend]="'Адрес и телефон'" [toggleable]="true">
                <span formGroupName="addresses">
                    <span class="p-fluid p-field">
                        <input type="text" pInputText required formControlName="legal"
                            [placeholder]="'Юридический адрес'" />
                    </span>

                    <span class="p-fluid p-field">
                        <input type="text" pInputText required formControlName="actual"
                            [placeholder]="'Фактический адрес'" />
                    </span>

                    <span class="p-fluid p-field">
                        <input type="text" pInputText required formControlName="post"
                            [placeholder]="'Почтовий адрес'" />
                    </span>
                </span>

                <span formGroupName="contacts">
                    <span class="p-fluid p-field">
                        <p-chips formControlName="emails" [placeholder]="'Телефони'"></p-chips>
                    </span>

                    <span class="p-fluid p-field">
                        <p-chips formControlName="phones" [placeholder]="'Emails'"></p-chips>
                    </span>
                </span>
            </p-fieldset>
        </span>

        <span class="p-fluid p-field">
            <p-fieldset formGroupName="contactPerson" [legend]="'Контактное лицо'" [toggleable]="true">
                <span formGroupName="addresses">
                    <span class="p-fluid p-field">
                        <input type="text" pInputText required formControlName="legal"
                            [placeholder]="'Юридический адрес'" />
                    </span>

                    <span class="p-fluid p-field">
                        <input type="text" pInputText required formControlName="actual"
                            [placeholder]="'Фактический адрес'" />
                    </span>

                    <span class="p-fluid p-field">
                        <input type="text" pInputText required formControlName="post"
                            [placeholder]="'Почтовий адрес'" />
                    </span>
                </span>

                <span formGroupName="contacts">
                    <span class="p-fluid p-field">
                        <p-chips formControlName="emails" [placeholder]="'Телефони'"></p-chips>
                    </span>

                    <span class="p-fluid p-field">
                        <p-chips formControlName="phones" [placeholder]="'Emails'"></p-chips>
                    </span>
                </span>
            </p-fieldset>
        </span>

        <!--  -->

        <span class="p-fluid p-field">
            <input type="number" pInputText required formControlName="code" [placeholder]="'Код'" />
        </span>

        <span class="p-fluid p-field">
            <p-multiSelect appendTo="body" optionLabel="name.full" optionValue="_id" [filter]="true"
                [filterBy]="'name.full'" [options]="accSystemService.users" formControlName="responsibles"
                placeholder="Ответственные"></p-multiSelect>
        </span>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [label]="'Создать'" styleClass="p-button-text"
            (onClick)="createElement()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [header]="'Создать групу'" appendTo="body" styleClass="modal" [maximizable]="true" [draggable]="true"
    [resizable]="true" [(visible)]="dialogStage.isCreateElementsGroup">

    <div [formGroup]="createElementsGroupForm">
        <span class="p-fluid p-field">
            <input type="text" pInputText required formControlName="label" [placeholder]="'Название групы'" />
        </span>

        <span class="p-fluid p-field">
            <p-treeSelect appendTo="body" optionLabel="label.inSystem" [options]="elementGroups"
                formControlName="parentId" placeholder="Родительская група"></p-treeSelect>
        </span>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [label]="'Создать'" styleClass="p-button-text"
            (onClick)="createElement(true)"></p-button>
    </ng-template>
</p-dialog>