<div class="content">
    <div class="content__controls">
        <p-button icon="pi pi-plus" [label]="'Створити'" (onClick)="dialogStage.isCreateElement = true"></p-button>
        <p-button icon="pi pi-plus" [label]="'Створити групу'"
            (onClick)="dialogStage.isCreateElementsGroup = true"></p-button>
    </div>

    <lib-table [config]="{
        mode: 'tree',
        module: {
            data: moduleData,
            type: 'datasets',
            identifier: 'nomenclatures.basic',
            internalEvents: true
        },
        data: moduleData.elements,  
        fields: moduleData.fields
    }"></lib-table>
</div>


<p-dialog header="Создать номенклатуру" appendTo="body" styleClass="modal" [maximizable]="true" [draggable]="true"
    [resizable]="true" [(visible)]="dialogStage.isCreateElement">

    <div [formGroup]="createNomenclaturesForm">
        <span class="p-fluid p-field">
            <input type="text" pInputText required formControlName="label" [placeholder]="'Название нуменклатуры'" />
        </span>

        <span class="p-fluid p-field">
            <input type="number" pInputText required formControlName="code" [placeholder]="'Код'" />
        </span>

        <span class="p-fluid p-field">
            <input type="number" pInputText required formControlName="article" [placeholder]="'Артикул'" />
        </span>

        <span class="p-fluid p-field">
            <textarea pInputTextarea formControlName="description" [placeholder]="'Коментар'"></textarea>
        </span>

        <span class="p-fluid p-field">
            <!-- <p-dropdown appendTo="body" [options]="currentCompany.datasets"></p-dropdown> -->
            <lib-element-field [config]="{
                    selectOnly: true,
                    isDefault: true
                }" [field]="{
                    _id: 'nomenclatureTypes'
                }"></lib-element-field>
        </span>

        <span class="p-fluid p-field">
            <p-treeSelect appendTo="body" [options]="elementsGroups" formControlName="parentId"
                placeholder="Родительская нуменклатура"></p-treeSelect>
        </span>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [label]="'Создать'" styleClass="p-button-text"
            (onClick)="createElement()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [header]="'Создать групу'" appendTo="body" styleClass="modal" [maximizable]="true" [draggable]="true"
    [resizable]="true" [(visible)]="dialogStage.isCreateElementsGroup">

    <div [formGroup]="createNomenclaturesGroupForm">
        <span class="p-fluid p-field">
            <input type="text" pInputText required formControlName="label" [placeholder]="'Название групы'" />
        </span>

        <span class="p-fluid p-field">
            <p-treeSelect appendTo="body" [options]="elementsGroups" formControlName="parentId"
                placeholder="Родительская група"></p-treeSelect>
        </span>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [label]="'Создать'" styleClass="p-button-text"
            (onClick)="createElement(true)"></p-button>
    </ng-template>
</p-dialog>