<div class="module">
    <lib-module-header [header]="'Еденицы измерения'">
        <ng-template templateRef="headerToolbar">
            <p-button icon="pi pi-plus" [label]="'Створити'" (onClick)="dialogStage.isCreateElement = true"></p-button>
        </ng-template>
    </lib-module-header>

    <div class="content">
        <lib-table [config]="{
            mode: 'default',
            module: {
                type: 'datasets',
                data: moduleData,
                identifier: 'units',
                internalEvents: true
            },
            data: moduleData.elements, 
            fields: moduleData.fields
        }"></lib-table>
    </div>
</div>

<p-dialog header="Создать еденицу измерения" appendTo="body" styleClass="modal" [maximizable]="true" [draggable]="true"
    [resizable]="true" [(visible)]="dialogStage.isCreateElement">

    <div [formGroup]="createElementForm">
        <span class="p-fluid p-field">
            <input type="text" pInputText required formControlName="label" [placeholder]="'Название'" />
        </span>

        <span class="p-fluid p-field">
            <input type="text" pInputText required formControlName="symbol" [placeholder]="'Символ'" />
        </span>

        <span class="p-fluid p-field">
            <input type="number" pInputText required formControlName="code" [placeholder]="'Код'" />
        </span>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [label]="'Создать'" styleClass="p-button-text"
            (onClick)="createElement()"></p-button>
    </ng-template>
</p-dialog>
