<div class="module">
    <lib-module-header [header]="'Нуменклатура'">
        <ng-template templateRef="headerToolbar">
            <p-button icon="pi pi-plus" [label]="'Створити'" (onClick)="dialogStage.isCreateElement = true"></p-button>
            <p-button icon="pi pi-plus" [label]="'Створити групу'"
                (onClick)="dialogStage.isCreateElementsGroup = true"></p-button>
        </ng-template>
    </lib-module-header>

    <div class="content">
        <lib-tree-table [config]="{
            module: {
                type: 'datasets',
                identifier: 'nomenclatures'
            },
            data: elements, 
            fields: fields
        }" (updateElement)="updateElement($event)"></lib-tree-table>
        <!-- <p-treeTable [value]="nomenclaturesDataTable" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Найменування</th>
                    <th>Код</th>
                    <th>Артикул</th>
                    <th>Од.</th>
                    <th>% ПДВ</th>
                    <th>Код для ПН (по-умовч.)</th>
                    <th>Коментар</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttRow]="rowNode">
                    <td>
                        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                        {{ rowData.label }}
                    </td>
                    <td>{{ rowData.code }}</td>
                    <td>{{ rowData.article }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ rowData.description }}</td>
                </tr>
            </ng-template>
        </p-treeTable> -->
    </div>
</div>

<p-dialog header="Создать номенклатуру" appendTo="body" styleClass="modal" [maximizable]="true" [draggable]="true"
    [resizable]="true" [(visible)]="dialogStage.isCreateElement">

    <div [formGroup]="createNomenclaturesForm">
        <span class="p-fluid p-field">
            <input type="text" pInputText required formControlName="label" [placeholder]="'Название нуменклатуры'" />
        </span>

        <span class="p-fluid p-field">
            <input type="number" pInputText required formControlName="code" [placeholder]="'Код'" />
        </span>

        <span class="p-fluid p-field">
            <input type="number" pInputText required formControlName="article" [placeholder]="'Артикул'" />
        </span>

        <span class="p-fluid p-field">
            <textarea pInputTextarea formControlName="description" [placeholder]="'Коментар'"></textarea>
        </span>

        <span class="p-fluid p-field">
            <p-treeSelect appendTo="body" [options]="elementsGroups" formControlName="parentId"
                placeholder="Родительская нуменклатура"></p-treeSelect>
        </span>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [label]="'Создать'" styleClass="p-button-text"
            (onClick)="createElement()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [header]="'Создать групу'" appendTo="body" styleClass="modal" [maximizable]="true" [draggable]="true"
    [resizable]="true" [(visible)]="dialogStage.isCreateElementsGroup">

    <div [formGroup]="createNomenclaturesGroupForm">
        <span class="p-fluid p-field">
            <input type="text" pInputText required formControlName="label" [placeholder]="'Название групы'" />
        </span>

        <span class="p-fluid p-field">
            <p-treeSelect appendTo="body" [options]="elementsGroups" formControlName="parentId"
                placeholder="Родительская група"></p-treeSelect>
        </span>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [label]="'Создать'" styleClass="p-button-text"
            (onClick)="createElement(true)"></p-button>
    </ng-template>
</p-dialog>