<div class="module">
    <lib-module-header [header]="'Склади'">
        <ng-template templateRef="headerToolbar">
            <p-button icon="pi pi-plus" [label]="'Створити'" (onClick)="dialogStage.isCreateElement = true"></p-button>

            <p-button icon="pi pi-plus" [label]="'Створити групу'"
                (onClick)="dialogStage.isCreateElementsGroup = true"></p-button>
        </ng-template>
    </lib-module-header>

    <div class="content">
        <lib-table [config]="{
            mode: 'tree',
            module: {
                type: 'datasets',
                identifier: 'warehouses',
                internalEvents: true
            },
            data: elements, 
            fields: fields
        }"></lib-table>

        <!-- <p-treeTable [value]="warehousesDataTable" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Найменування</th>
                    <th>Код</th>
                    <th>Тип склада</th>
                    <th>Коментар</th>
                    <th>Ответственные</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttRow]="rowNode">
                    <td>
                        <div class="row-label">
                            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                            <span class="p-field p-fluid">
                                <input pInputText [placeholder]="'Назва складу'" [(ngModel)]="rowData.label"
                                    (ngModelChange)="onEdit($event, rowData, 'label')">
                            </span>
                        </div>
                    </td>
                    <td>
                        <span class="p-field p-fluid">
                            <input pInputText [placeholder]="'Код'" [(ngModel)]="rowData.code" (ngModelChange)="onEdit($event, rowData, 'code')">
                        </span>
                    </td>
                    <td>
                        <span class="p-field p-fluid">
                            <p-dropdown appendTo="body" optionValue="value" [(ngModel)]="rowData.type"
                                [placeholder]="'Тип склада'" [options]="warehouseTypes" (ngModelChange)="onEdit($event, rowData, 'type')"></p-dropdown>
                        </span>
                    </td>
                    <td>
                        <span class="p-field p-fluid">
                            <textarea pInputTextarea [placeholder]="'Коментар'"
                                [(ngModel)]="rowData.description" (ngModelChange)="onEdit($event, rowData, 'description')"></textarea>
                        </span>
                    </td>
                    <td>
                        <span class="p-field p-fluid">
                            <p-multiSelect appendTo="body" optionLabel="name.full" dataKey="_id" [filter]="true"
                                [filterBy]="'name.full'" [ngModel]="rowData.responsibles | responsibles"
                                [options]="responsibles" [placeholder]="'Ответственные'"
                                (ngModelChange)="onEdit($event, rowData, 'responsibles')"></p-multiSelect>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-treeTable> -->
    </div>
</div>

<p-dialog [header]="'Создать склад'" appendTo="body" styleClass="modal" [maximizable]="true" [draggable]="true"
    [resizable]="true" [(visible)]="dialogStage.isCreateElement">

    <div [formGroup]="createWarehouseForm">
        <span class="p-fluid p-field">
            <input type="text" pInputText required formControlName="label" [placeholder]="'Название склада'" />
        </span>

        <span class="p-fluid p-field">
            <input type="number" pInputText required formControlName="code" [placeholder]="'Код'" />
        </span>

        <span class="p-fluid p-field">
            <p-dropdown appendTo="body" optionValue="value" formControlName="type" [placeholder]="'Тип склада'"
                [options]="elementsTypes"></p-dropdown>
        </span>

        <span class="p-fluid p-field">
            <textarea pInputTextarea formControlName="description" [placeholder]="'Коментар'"></textarea>
        </span>

        <span class="p-fluid p-field">
            <p-treeSelect appendTo="body" [options]="elementsGroups" formControlName="parentId"
                placeholder="Родительская група"></p-treeSelect>
        </span>

        <span class="p-fluid p-field">
            <p-multiSelect appendTo="body" optionLabel="name.full" optionValue="_id" [filter]="true"
                [filterBy]="'name.full'" [options]="accSystemService.users" formControlName="responsibles"
                placeholder="Ответственные"></p-multiSelect>
        </span>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [label]="'Создать'" styleClass="p-button-text"
            (onClick)="createElement()"></p-button>
    </ng-template>
</p-dialog>

<p-dialog [header]="'Создать групу'" appendTo="body" styleClass="modal" [maximizable]="true" [draggable]="true"
    [resizable]="true" [(visible)]="dialogStage.isCreateElementsGroup">

    <div [formGroup]="createWarehouseGroupForm">
        <span class="p-fluid p-field">
            <input type="text" pInputText required formControlName="label" [placeholder]="'Название групы'" />
        </span>

        <span class="p-fluid p-field">
            <p-treeSelect appendTo="body" [options]="elementsGroups" formControlName="parentId"
                placeholder="Родительская група"></p-treeSelect>
        </span>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" [label]="'Создать'" styleClass="p-button-text"
            (onClick)="createElement(true)"></p-button>
    </ng-template>
</p-dialog>